<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ratan Kadam </title>

    <!-- Bootstrap Core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="./css/landing-page.css" rel="stylesheet">
    <link href="./css/ratan.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="/Jquery/ratanJquery.js"></script>
	<script type="text/javascript" src="Jquery/jquery.scrollNav.min.js"></script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                 <a class="navbar-brand topnav" >Ratan.Kadam@gmail.com</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about1" class="smoothScroll">About1</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">	
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="h-message">
                         <img class="circular" src="/img/ratan.jpg">;
                        <h1><c>Ratan .M. kadam</c></h1>
                        <h3><c>Software Engineer</c></h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            
                            <li>
                                <a href="https://github.com/Ratan-kadam" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/kadam.ratan" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
<!-- /*************************************************************************************/ -->
          <a name="AboutMe"><font size="8"> About Me</font></a> 
           <div class="content-section-b normal" >
                       <font size="5" color="000066"><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<strong><u>Graduate student at <b>  San Jose State University </b> in Software Engineering, Specialization in Enterprise software technology." </u></i></font></strong>
                         <!-- <br><img class="img-responsive" src="img/hat.png" alt=""> -->
             
           </div> <!-- // section b div closed -->
 <!-- /*************************************************************************************/ -->

       <a  name="services"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Experience</h2>
                    <p class="lead normal">
                In course of my professional career, I worked as software application developer at <B> <font color="000066"> iNautix technology (Bank of New York Mellon Company)</font></B> for 3+ years where I developed & deployed various modules related to electronic mutual fund accounting platform.
                     </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/bank1.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Skill Set
                    <p class="lead normal">
                    <br>
                  •<b> <font color ="000066">Languages : </font></b>  Android ,Node.Js ,JavaScript ,jQuery ,Ajax ,C ,<br>
                      &emsp; Java ,COBOL , JCL,CICS, SQL Familiar with  Scala.
<br>•<b> <font color ="000066">Development tools:</font></b> Eclipse, Junit , Express.js.
<br>•<b> <font color ="000066">Cloud Computing : </font></b>Amazon Ec2. 
<br>•<b> <font color ="000066">Database: </font></b>MongoDB, MySQL,DB2.
<br>•<b> <font color ="000066">File System: </font></b>VSAM,Flat file.
<br>•<b> <font color ="000066">Tools/tech :</font></b> MOngoRobo, Mongoose, BMC remedy, File Aid, <br>
&emsp; INSYNC,Expeditor, Endeavour, TSo/ISPF ,REXX, Spufi.
<br>•<b> <font color ="000066">Operating Systems:</font></b>	WIN-XP/7/8.1, Linux, MVS, ZOS.
<br>•<b> <font color ="000066">Hardware : </font></b>IBM S390.
                    
                    </p>
                
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/hat.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
<!-- //////////////////////////////////////////////////////////////////////////////////////////// -->
 <div class = "pad"> 
 
 This is experienntal div 
 </div>
<!--/////////////////////////////////////////////////////////////////////////////////////////////  -->
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>,
                    <h2 class="section-heading"><c>Google Web</c> Fonts and<br>Font Awesome Icons</h2>
                    <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2></h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
    
    
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <!-- jQuery -->
    <script src="./Jquery/jquery.scrollNav.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
   <!--  <script src="css/bootstrap.min.js"></script>
     <link href="./css/bootstrap.min.css" rel="stylesheet"> -->

</body>

</html>
