<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Ratan Kadam</title>
<!-- Bootstrap Core CSS -->
<link href="./css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="./css/animate.css" rel="stylesheet">
<link href="./css/landing-page.css" rel="stylesheet">
<link href="./css/ratan.css" rel="stylesheet">
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css">
<!-- Custom Fonts -->
<meta charset="UTF-8">
<title>Example of Bootstrap 3 Modals</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="./Jquery/ratanJquery.js"></script>

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top topnav"
		role="navigation">
		<div class="container topnav">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand topnav">Ratan.Kadam@gmail.com</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#AboutMe" class="smoothScroll">About</a></li>
					<li><a href="#WorkExp">Work Experience</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>


	<!-- Header -->
	<a name="about"></a>
	<div class="intro-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="h-message">
						<img class="circular animated bounceInDown" src="/img/ratan.jpg">
						<h1 class="animateddelay zoomInUp">
							<c>Ratan M. Kadam</c>
						</h1>
						<h3 class="">
							<c>Software Engineer</c>
						</h3>
						<hr class="intro-divider animated lightSpeedIn">
						<ul class="list-inline intro-social-buttons">

							<li><a href="https://github.com/Ratan-kadam"
								class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i><span
									class="network-name">Github</span></a></li>
							<li><a href="https://www.linkedin.com/in/RatanKadam"
								class="btn btn-default btn-lg"><i
									class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
							</li>
							<li><a href="https://www.facebook.com/kadam.ratan"
								class="btn btn-default btn-lg"><i
									class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>

							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->

	<!-- Page Content -->

	<!-- /*************************************************************************************/ -->
	<a name="AboutMe"><font size="5"></font></a>
	<div class="content-section-b normal">

		<div class="row">
			<div class="col-lg-5"></div>
			<div class="col-lg-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">About me</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10 lead normal" align="justify">

				<i><i class="fa-li fa fa-spinner fa-spin"></i><strong><Font size="20">G</Font></strong>raduate student at
					<b> San Jose State University </b> in Software Engineering,
					Specialization in <strong>Enterprise software</strong> technology.
					<br>3+ years of experience in IT industry with various
					development and testing in <strong>banking services domain</strong>,
					covering a wide range of skill set, roles and industry verticals.
					Worked in all phases of SDLC
					(analysis,design,development,testing,implementation) and has a
					strong focus on the quality of the deliverable's at each phase. <br>
					<br>Good concepts and understanding of <strong>Web Services, REST
					API, Agile Development.</strong> <br>
					<br><i class="fa-li fa fa-square"></i>Effective customer interaction skills. Self – motivated and a good team player. </strong></i>
				<!-- <br><img class="img-responsive" src="img/hat.png" alt=""> -->
			</div>
			<div class="col-lg-1"></div>
		</div>
	</div>
	<!-- // section b div closed -->
	<!-- /*************************************************************************************/ -->

	<a name="WorkExp"></a>
	<div class="content-section-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-sm-6">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h2 class="section-heading">Experience</h2>
					<p class="lead normal">
						In course of my professional career, I worked as software
						application developer at <B> <font color="000066">
								iNautix technology (Bank of New York Mellon Company)</font></B> for 3+
						years where I developed & deployed various modules related to
						electronic mutual fund accounting platform.
					</p>
				</div>
				<div class="col-lg-5 col-lg-offset-2 col-sm-6">
					<img class="img-responsive" src="img/bank1.png" alt="">
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.content-section-a -->

	<div class="content-section-b">

		<div class="container">

			<div class="row">
				<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h2 class="section-heading">Skill Set</h2>
					<p class="lead normal normal1" align="justify">
						<br> •<b> <font color="000066"> Programming Languages : </font></b> <font
							size="4">Java, Node.Js, Android, SQL, COBOL, CICS &
							Familiar with –Scala, iOS.</font> <br>•<b> <font color="000066">Web
								Technologies : </font></b> <font size="4"> RESTful web services,
							Node.js, JSON, AJAX, JavaScript, jQuery, HTML, CSS (Bootstrap)</font> <br>•<b>
							<font color="000066">Development tools:</font>
						</b> <font size="4"> Eclipse, Junit , Express.js.</font> <br>•<b>
							<font color="000066">Cloud Services : </font>
						</b><font size="4">Amazon (EC2 & ELB), MongoLab </font> <br>•<b>
							<font color="000066">Frameworks : </font>
						</b><font size="4">Spring Boot, Spring Data, Express –Node.js.
						</font> <br>•<b> <font color="000066">Database: </font></b><font
							size="4">MongoDB, MySQL, DB2.</font> <br>•<b> <font
							color="000066">File System: </font></b><font size="4">VSAM, Flat
							file.</font> <br>•<b> <font color="000066">Tools :</font></b>
						<font size="4">MongoRobo, Mongoose, BMC remedy, File Aid,
							INSYNC, Expeditor, Endeavour, TSo/ISPF , REXX, Spufi.</font> <br>•<b>
							<font color="000066">Operating Systems:</font>
						</b> <font size="4">Win-XP/7/8.1, Linux, MVS, Z/OS.</font> <br>•<b>
							<font color="000066">Hardware : </font>
						</b><font size="4">IBM S390.</font>

					</p>

				</div>
				<div class="col-lg-5 col-sm-pull-6  col-sm-6">
					<img class="img-responsive" src="img/hat.png" alt="">
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.container -->
	<!-- /.content-section-b -->

	<!-- <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>,
                    <h2 class="section-heading"><c>Some of My Work</c><br></h2>
                    <p class="lead"></p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>

        </div>
    </div> -->
	<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  -->
	<div class="content-section-a" id="wrk" name="wrk">
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-5">
				<hr class="work-custom-headers" align="center">
			</div>

		</div>
		<!-- row closed  -->

		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-5">
				<h2 class="section-heading">Some of my work ..</h2>
			</div>

		</div>
		<!-- row closed  -->

	</div>
	<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

	<!-- .///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	<div class="content-section-a">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="grid mask select-project">
						<figure>
							<img class="img-responsive alt=" click to see
								more" src="img/C1.png" />
							<!-- image responsive to make it small as per the col requirement  -->
							<figcaption>
								"Who Wants To Be A Millionaire"<a data-toggle="modal"
									href="#basicModal" data-target="#basicModal"
									class="btn btn-primary btn-small" id="projGame" name="projGame">click
									here</a>
							</figcaption>
							<br> &nbsp
						</figure>
					</div>
					<!-- grid mask finished -->
				</div>
				<!-- first item  finished -->

				<div class="col-md-4">
					<!-- second item started  -->
					<div class="grid mask select-project " id="project1"
						name="project1">
						<figure>
							<img class="img-responsive" src="img/C2.png" />
							<figcaption class="figcaption">
								"API GateWay " &nbsp &nbsp
								<button class="btn btn-primary btn-small" id="proj2"
									name="proj2">See More</button>
							</figcaption>
						</figure>
					</div>
					<!-- grid mask closed  -->
				</div>
				<!-- md-3 closed -->
				<!--second item finished  -->

				<div class="col-md-4">
					<!-- third  item started  -->
					<div class="grid mask select-project" id="project1" name="project1">
						<figure>
							<img class="img-responsive " src="img/C3.png" />
							<figcaption class="figcaption">
								"Node-Elastic Load Balancer"
								<button class="btn btn-primary btn-small" id="proj3"
									name="proj3">See More</button>
							</figcaption>
						</figure>
					</div>
					<!-- grid mask closed  -->
				</div>
				<!-- md-3 closed -->
			</div>
			<!--  row closed -->

			<div class="row">
				<!--Second row   -->
				<div class="col-md-4">
					<!-- first item started  -->
					<div class="grid mask select-project" id="project1" name="project1">
						<figure>
							<img class="img-responsive" src="img/C5.png" />
							<figcaption class="figcaption">
								"Scalability using node.js" &nbsp
								<button class="btn btn-primary btn-small" id="proj4"
									name="proj4">See More</button>
							</figcaption>
						</figure>
					</div>
					<!-- grid mask closed  -->
				</div>
				<!-- md-3 closed -->

				<div class="col-md-4">
					<!-- second  item started  -->
					<div class="grid mask select-project">
						<figure>
							<img class="img-responsive" src="img/C6.png" />
							<figcaption class="figcaption">
								"Dynamic Magzine builder " &nbsp
								<button class="btn btn-primary btn-small" id="proj5"
									name="proj5">See More</button>
							</figcaption>
						</figure>
					</div>
					<!-- grid mask closed  -->
				</div>
				<!-- md-4 closed -->

				<div class="col-md-4">
					<!-- second  item started  -->
					<div class="grid mask select-project">
						<figure>
							<img class="img-responsive" src="img/comming.png" />
							<figcaption class="figcaption">
								"Under construction.." &nbsp
								<button class="btn btn-primary btn-small" id="proj6"
									name="proj6">See More</button>
							</figcaption>
						</figure>
					</div>
					<!-- grid mask closed  -->
				</div>
				<!-- md-4 closed -->
			</div>
			<!-- Row closed -->
			<p></p>
		</div>
		<!-- container closed -->
	</div>
	<!-- // content section closed -->
	<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  -->

	<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	<div class="content-section-b">
		<div class="row">
			<div class="col-lg-5"></div>
			<div class="col-lg-4">
				<hr class="work-custom-headers" align="center">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-5"></div>
			<div class="col-lg-5">
				<h2 class="section-heading">Testimonials ..</h2>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6"></div>
		</div>

		<!-- ///////////////////exp -->
		<div id="carousel-example-generic3" class="carousel slide"
			data-ride="carousel">


			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="row">
						<div class="col-lg-3"></div>
						<div class="col-lg-6">
							<img class="circular1" src="/img/Thangam.png" />
							<p class="normal1" align="right">
								Thangamuthu Vaiyapuri<br> <font size="2"> - AVP at
									i|Nautix </font>
							</p>
							<p class="normal" align="justify">I have known Ratan for more
								than 2 years. Right from the day he joined as a trainee
								(fresher) in 2011, Ratan was a great employee. Blessed with a
								combination of technical brilliance, right attitude,
								perseverance and an ability to develop outstanding software’s in
								Mainframes without much guidance. He is the role model of the
								developers (AD) in the team. Apart from mainframes, he was keen
								in learning niche skills like Big data, ETL tools etc. He is a
								great resource and with good attitude. He has a great future
								ahead of him. Best of luck for his great future!</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="row">
						<div class="col-lg-3"></div>
						<div class="col-lg-6">
							<img class="circular1" src="/img/gaurao.png" />
							<p class="normal1" align="right">
								Gaurao Aware<br> <font size="2"> - Project Lead at
									i|Nautix </font>
							</p>
							<p class="normal" align="justify">
								Ratan worked with me on BNYM project for close to 3 years. He
								joined my project as a fresher. It was a pleasure working with
								him. He has a lot of desire to learn new skills and acquire
								knowledge. His logical skills are commendable. He is a great
								team playor and always looking for opportunity to contribute. <br>
								<br> <br> <br>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="row">
						<div class="col-lg-3"></div>
						<div class="col-lg-6">
							<img class="circular1" src="/img/anirudha.png" />
							<p class="normal1" align="right">
								Anirudha Joshi<br> <font size="2"> - Tech Lead at
									i|Nautix </font>
							</p>
							<p class="normal" align="justify">I have known Ratan for more
								than 2 years. Right from the day he joined as a trainee
								(fresher) in 2011, Ratan was a great employee. Blessed with a
								combination of technical brilliance, right attitude,
								perseverance and an ability to develop outstanding software’s in
								Mainframes without much guidance. He is the role model of the
								developers (AD) in the team. Apart from mainframes, he was keen
								in learning niche skills like Big data, ETL tools etc. He is a
								great resource and with good attitude. He has a great future
								ahead of him. Best of luck for his great future!
						</div>
					</div>
				</div>

				<div class="item">
					<div class="row">
						<div class="col-lg-3"></div>
						<div class="col-lg-6">
							<img class="circular1" src="/img/krunal.png" />
							<p class="normal1" align="right">
								Krunal Khedekar<br> <font size="2"> - Tech Lead at
									i|Nautix </font>
							</p>
							<p class="normal" align="justify">
								Ratan is good at understanding Client's requirements and
								delivers work accordingly. He is very strong in Domain which is
								fused with his Technical Skill to deliver Quality product.
								Manages and delegates his work well among the Team. His area of
								Expertise is in Mainframe Dev. He is aware of the complete gamut
								of SDLC Process. <br> <br> <br> <br>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="row">
						<div class="col-lg-3"></div>
						<div class="col-lg-6">
							<img class="circular1" src="/img/Mandar.png" />
							<p class="normal1" align="right">
								Mandar Waikar<br> <font size="2"> - Tech Lead at
									i|Nautix </font>
							</p>
							<p class="normal" align="justify">
								I have worked with Ratan for more than two years in the same
								team. Despite of being a fresher, Ratan was having a very good
								knowledge of application. He is eager to learn the new things &
								grasps them in a very short duration. Very sincere & dedicated
								to his work. Very good team player. <br> <br> <br>
								<br>
						</div>
					</div>
				</div>
			</div>
			<!-- Controls -->
			<div align="center">
				<ul class="list-inline intro-social-buttons">

					<li>
						<button href="#carousel-example-generic3" data-slide="prev"
							class="btn btn-default btn-lg">
							<span class="network-name"> <b><-</b>Prev
							</span></a>
						</button>
					</li>
					<li>
						<button href="#carousel-example-generic3" data-slide="next"
							class="btn btn-default btn-lg">
							<span class="network-name">Next<b>-></b></span></a>
						</button>
					</li>
				</ul>
				<!-- <button href="#carousel-example-generic3" data-slide="prev"> Prev </button>
                             <button href="#carousel-example-generic3" data-slide="next"> Next </button> -->
			</div>



		</div>
		<!-- carousel ends -->
		<!-- ////////////////////// -->
	</div>
	<!-- Section b ends  -->
	<!-- .///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

	<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  -->
	<!-- <!-- /.content-section-a -->

	<a name="contact"></a>
	<div class="banner">
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-6">
				<hr class="work-custom-headers" align="center">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-6">
				<h2>Get in touch with me</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-6 normal1">
				<h3>
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp
					&nbsp &nbsp &nbsp &nbsp San Francisco Bay Area<br> <br> <span
						class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp
					&nbsp &nbsp &nbsp &nbsp Ratan.Kadam@Gmail.com </br> <br> <span
						class="glyphicon glyphicon-earphone" aria-hidden="true"></span>&nbsp
					&nbsp &nbsp &nbsp &nbsp (408)- 831-8397
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-6">
				<br>
				<ul class="list-inline">
					<li><a href="https://www.facebook.com/kadam.ratan"
						class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i>
							<span class="network-name">Facebook</span></a></li>
					<li><a href="https://github.com/ratan-kadam"
						class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i>
							<span class="network-name">Github</span></a></li>
					<li><a href="https://www.linkedin.com/in/RatanKadam"
						class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i>
							<span class="network-name">Linkedin</span></a></li>
				</ul>
			</div>
		</div>


	</div>
	<!-- banner closed -->


	<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  -->
	
	<!--  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
	<div id="myModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" align="center">
						<strong> <font color="blue"> <br> <b>
									<p stylebackground-color:"blue">
										AGILE &nbsp JAVA &nbsp GREENFOOT-API &nbsp DESIGN PATTERN
										</p>
							</b>
						</font></strong>
					
					</h4>
				</div>
				<div class="modal-body">
					<div id="carousel-example-generic" class="carousel slide"
						data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-slide-to="0" class="active"></li>
							<li data-slide-to="1"></li>
							<!-- <li  data-slide-to="2"></li> -->
						</ol>
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="img/C1.PNG" alt="">
							</div>
							<div class="item">
								<img src="img/kanban.jpg" alt="">
							</div>
							<!-- <div class="item">
                                    <img src="img/burn.PNG" alt="">
                                 </div> -->
						</div>
						<!-- Controls -->
						<a class="left carousel-control" href="#carousel-example-generic"
							role="button" data-slide="prev"> <!-- href must point to parent  -->
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a> <a class="right carousel-control"
							href="#carousel-example-generic" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"
							aria-hidden="true"></span> <span class="sr-only">Next</span>
						</a>
					</div>
					<!-- carousel ends -->
					<!-- page Data  -->
					<font color="blue" size="large" class="normal1">
						<p align="center"># Who Wants To Be A Millionaire.
					</font> <br> <font size="small" class="normal1"> The project
						aimed at imparting knowledge in 2 major areas - <br> a. Used
						AGILE methodology - Sprint framework <br> b. Implemented GoF
						design patterns - <br> Observer Pattern <br> State
						Pattern <br> Adapter Pattern <br> Factory Pattern.<br>
						</br> <a href="https://github.com/Ratan-kadam/CMPE202-Team18"
						class="btn btn-primary"><i class="fa fa-github fa-fw"></i> <span
							class="network-name">Github Link</span></a> <br>
					<br> <a href="https://www.youtube.com/watch?v=UOT-uoGR5x8"
						class="btn btn-primary"><i class="fa fa-youtube fa-fw"></i> <span
							class="network-name">Demo</span></a>
					</font>
					</p>
				</div>
				<!--modal body ends  -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<!--/////////////////////////////////////////////////////////////Row1- project2 ///////////////////////////////////////////////////////////////////////////////  -->
	<!--  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
	<div id="myModal1" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" align="center">
						<strong> <font color="blue"> <br> <b>
									<p stylebackground-color:"blue">
										RESTful API's &nbsp Node.js &nbsp MongoDB &nbsp Express.js
										</style>
							</b>
						</font></strong>
						</style>
					</h4>
				</div>
				<div class="modal-body">
					<div id="carousel-example-generic1" class="carousel slide"
						data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-slide-to="0" class="active"></li>
						</ol>
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="img/C2.png" alt="">
							</div>
						</div>
						<!-- Controls -->
						<a class="left carousel-control" href="#carousel-example-generic1"
							role="button" data-slide="prev"> <!-- href must point to parent  -->
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a> <a class="right carousel-control"
							href="#carousel-example-generic1" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"
							aria-hidden="true"></span> <span class="sr-only">Next</span>
						</a>
					</div>
					<!-- carousel ends -->
					<!-- page Data  -->
					<font color="blue" size="large" class="normal1">
						<p align="center">
							<br> # API MANAGEMENT GATEWAY .
					</font> <br> <font size="small" class="normal1"> Gateway API
						accepting calls (CRUD operations) & sending to proxied API,
						getting the response and return to user. <br> <br> <font
						color="blue" size="large" class="normal1"> <u>FACILITIES
								IMPLEMENTED- </u></font> <br> <br>1.<font color="blue"
						size="large" class="normal1"> API Authentication </font> - Cookies
						& session implemented using Passport utility. <br>2.<font
						color="blue" size="large" class="normal1"> Black Listing IP
					</font> - Blocking calls to particular IP list. <br>3.<font
						color="blue" size="large" class="normal1"> Maintaining
							statistics data like </font>- API list and requested count till date. <br>4.<font
						color="blue" size="large" class="normal1"> Testing </font>- using
						Facebook graph open Api. <br> <br> <a
						href="https://github.com/Ratan-kadam/APIgateway"
						class="btn btn-primary"><i class="fa fa-github fa-fw"></i> <span
							class="network-name">Github Link</span></a> <br>
					<br> <a
						href="https://drive.google.com/open?id=0Byw_CBY2OclWWHhEajRDMXF1QldaXzMtN3FCYld3TGtOVE40&authuser=1"
						class="btn btn-primary"><i class="fa fa-youtube fa-fw"></i> <span
							class="network-name">Test Results snap</span></a>
					</font>
					</p>
				</div>
				<!--modal body ends  -->
				<div class="modal-footer">
					<br>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	<div id="myModal2" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" align="center">
						<strong> <font color="blue"> <br> <b>
									<p stylebackground-color:"blue">
										RESTful API's &nbsp Node.js &nbsp MongoDB &nbsp Express.js
										&nbsp HTML &nbsp CSS &nbsp jquery &nbsp AJAX &nbsp Amazon EC2
										(deployment)
										</style>
							</b>

						</font></strong>
						</style>
					</h4>
				</div>
				<div class="modal-body">
					<div id="carousel-example-generic2" class="carousel slide"
						data-ride="carousel">
						<!-- Indicators -->
						<!-- <ol class="carousel-indicators">
							<li data-slide-to="0" class="active"></li>
							<li data-slide-to="1"></li>
							<li data-slide-to="2"></li>
						</ol> -->
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="img/ELB1R.png" alt="">
							</div>
							<!-- <div class="item">
								<img src="img/C3.png" alt="">
							</div>
							<div class="item">
								<img src="img/C3.png" alt="">
							</div> -->
						</div>
						<!-- Controls -->
						<a class="left carousel-control" href="#carousel-example-generic1"
							role="button" data-slide="prev"> <!-- href must point to parent  -->
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a> <a class="right carousel-control"
							href="#carousel-example-generic2" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"
							aria-hidden="true"></span> <span class="sr-only">Next</span>
						</a>
					</div>
					<!-- carousel ends -->
					<!-- page Data  -->
					<font color="blue" size="large" class="normal1">
						<p align="center">#NODE ELASTIC LOAD BALENCER .
					</font> <br> <br> <font size="small" class="normal1">
						Developed a RESTful API for Http-Proxy server using node.js and
						express.js framework at server side to maintain a proxy table. <br>
						<font color="blue" size="large" class="normal1"> FEATURES
							IMPLEMENTED - <BR>
					</font> <br>•<font color="blue" size="large" class="normal1">load
							balancing </font> -using round-robin logic, updating target URL without
						restarting server using rest client (npm module), <br>•<font
						color="blue" size="large" class="normal1"> Gzip </font>-
						dynamically enable or disable compression of requests and
						responses <br>•<font color="blue" size="large"
						class="normal1"> Pass requests </font> -through an intermediate
						forward node <br>• <font color="blue" size="large"
						class="normal1">Maintain access logs </font> of all the requests
						made to each API. <br>•<font color="blue" size="large"
						class="normal1"> Compute processing time</font>- for each request.
						<br>•<font color="blue" size="large" class="normal1">
							Assign unique id</font> - to each request <br>•<font color="blue"
						size="large" class="normal1"> Latency </font> - latency
						implementaiton with Error Handling <br>
					<br> <a
						href="https://github.com/ashishsjsu/CMPE273-Team26-Restful-ELB"
						class="btn btn-primary"><i class="fa fa-github fa-fw"></i> <span
							class="network-name">Github Link</span></a> <br>
					<br> <!-- a href="https://drive.google.com/open?id=0Byw_CBY2OclWWHhEajRDMXF1QldaXzMtN3FCYld3TGtOVE40&authuser=1" class="btn btn-primary"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">Test Results snap</span></a> -->
					</font>

				</div>
				<!--modal body ends  -->
				<div class="modal-footer">
					<br>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	<div id="myModal3" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" align="center">
						<strong> <font color="blue"> <br> <b>
									<p stylebackground-color:"blue">
										Node.js Java
										</style>
							</b>

						</font></strong>
						</style>
					</h4>
				</div>
				<div class="modal-body">
					&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
					<iframe align="center" frameborder="2"
						src="//www.slideshare.net/slideshow/embed_code/44948659"
						width="476" height="400" frameborder="0" marginwidth="0"
						marginheight="0" scrolling="no"></iframe>
					<br>
					<br> <font color="blue" class="normal1" align="center">
						&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
						&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
						&nbsp &nbsp # Scalability using Node.js </font> <br> <br> <font
						size="small" class="normal1">
						<p align="center">
							• Studied various Scalability solutions used in industries like
							Horizontal , vertical , multi-threading ,Cloud computing. <br>
							• Comparison of existing market solutions VS node js ( Advantages
							and Disadvantages) with Case study of Ebay & Walmart . <br>
							• Proposed Architecture to solve next decade scalability problem.
							<br> <br>
							<a
								href="https://drive.google.com/open?id=0Byw_CBY2OclWYnBRVll4azJiR0k&authuser=1"
								class="btn btn-primary">Detailed Report</a>
					</font>
				</div>
			</div>
		</div>
	</div>
	<!--///////////////////////////////////////////////////////////  -->
	<div id="myModal4" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" align="center">
						<strong> <font color="blue"> <br> <b>
									<p stylebackground-color:"blue">
										Objective C &nbsp XML parser &nbsp Xcode SDK &nbsp iOS
										platform
										</style>
							</b>

						</font></strong>
						</style>
					</h4>
				</div>
				<div class="modal-body">
					&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
					<iframe align="center" frameborder="2"
						src="//www.slideshare.net/slideshow/embed_code/44950123"
						width="476" height="400" frameborder="0" marginwidth="0"
						marginheight="0" scrolling="no"></iframe>
					<br>
					<br> <font color="blue" class="normal1" align="center">
						&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
						&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
						&nbsp &nbsp #Interactive publication platform </font> <br> <font
						size="small" class="normal1">
						<p align="center">
							<br> • The project aimed to provide interactive publication
							platform for mobile devices like iPAD. This utility fetch live
							data from various informative sites using RSS feeds & make use of
							MVC architectural pattern. <br> • Furthermore, it parse &
							format the data into interactive format and create a magazine
							from multiple sources of same interest on single tap. Also user
							has facilities to select the information sources on their own &
							change the look and style of the generated pages. <br> •
							Once the application is closed ,the pages created are flushed
							from storage memory, so no dedicated storage memory is required,
							also application runs on low processing power. <br> <br>
							<a
								href="https://drive.google.com/open?id=0Byw_CBY2OclWYzZYV0c0c051a0JITzBHX3A0MVBZb3MxSDJr&authuser=1"
								class="btn btn-primary">Detailed Report</a>
					</font>
				</div>
			</div>
		</div>
	</div>

	<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  -->
	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-inline">
						<li><a href="#">Home</a></li>
						<li class="footer-menu-divider">&sdot;</li>
						<li><a href="#AboutMe">About</a></li>
						<li class="footer-menu-divider">&sdot;</li>
						<li><a href="#WorkExp">Work Experience</a></li>
						<li class="footer-menu-divider">&sdot;</li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	</div>
	<!-- jQuery -->

</body>
</html>
